In [1]:
from selenium import webdriver

import time
import numpy as np
import pandas as pd
import tabula

from bs4 import BeautifulSoup
import urllib.request as req

import requests
import os
import glob
import datetime
import re

import io

In [10]:
select = glob.glob('men/stats/*JPN*JPN*Block*.csv')
# print(len(select))
print(select)

['men/stats\\PreliminaryRound-PoolA-JPNvsCAN-JPN-Scoring In-PlayBlock.csv', 'men/stats\\PreliminaryRound-PoolA-JPNvsIRI-JPN-Scoring In-PlayBlock.csv', 'men/stats\\PreliminaryRound-PoolA-JPNvsITA-JPN-Scoring In-PlayBlock.csv', 'men/stats\\PreliminaryRound-PoolA-JPNvsPOL-JPN-Scoring In-PlayBlock.csv', 'men/stats\\PreliminaryRound-PoolA-JPNvsVEN-JPN-Scoring In-PlayBlock.csv', 'men/stats\\Quarterfinals-JPNvsBRA-JPN-Scoring In-PlayBlock.csv']

In [11]:
for s in select:
    df = pd.read_csv(s)
df

   No.               Name  Points  Errors In-Play Total Attempts  by Set
0   14      ISHIKAWA Yuki     2.0     5.0     NaN              7    0.67
1    6   YAMAUCHI Akihiro     1.0     9.0       1             11    0.33
2   12    SEKITA Masahiro     1.0     1.0       1              3    0.33
3    2     ONODERA Taishi     NaN     9.0     NaN              9    0.00
4   11       NISHIDA Yuji     NaN     1.0       3              4    0.00
5   21      TAKAHASHI Ran     NaN     2.0       1              3    0.00
6   17    TAKANASHI Kenta     NaN     NaN     - 2              2    0.00
7   20  YAMAMOTO Tomohiro     NaN     NaN     - 1              1    0.00
8    1   SHIMIZU Kunihiro     NaN     NaN       -                    NaN
9    3      FUJII Naonobu     NaN     NaN       -                    NaN
10  15            RI Haku     NaN     NaN       -                    NaN
11  19   OTSUKA Tatsunori     NaN     NaN       -                    NaN
12  ls                NaN     4.0    27.0       9             40    1.33